@import '@/styles/variables';

.wrapper {
	padding: 48px 80px 24px 80px;
	display: flex;
	justify-content: space-between;
}

.stars {
	display: flex;
	gap: 8px;
	align-items: center;
}

.contacts {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 62px;
	height: 62px;
}

.wrapper-mobile {
	display: none;
}

.winter-star {
	width: 34px;
	height: 34px;
	color: $white;
}

@media (max-width: 768px) {
	.wrapper {
		display: none;
	}

	.wrapper-mobile {
		display: flex;
		justify-content: center;
		gap: 90px;
		padding: 41px 104px;
		padding-top: 0;
	}
}
