@import "@/styles/variables";

.wrapper {
    padding: 100px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

.stars {
    display: flex;
    gap: 8px;
}

.code {
    width: 191px;
    height: 69px;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
    text-align: right;
}
