@import '@/styles/variables';

.wrapper {
	padding: 100px 80px 0 80px;
	display: flex;
	justify-content: space-between;
}

.stars {
	display: flex;
	gap: 8px;
}

.code {
	width: 191px;
	height: 69px;
	color: rgba(255, 255, 255, 0.56);
	font-weight: 500;
	text-align: right;
}

.wrapper-mobile {
	display: none;
}

@media (max-width: 768px) {
	.wrapper {
		display: none;
	}

	.wrapper-mobile {
		display: flex;
		justify-content: center;
		gap: 90px;
		padding: 41px 104px;
		padding-top: 0;
	}
}
