@import '@/styles/variables';

.wrapper {
	margin: 60px 80px 80px 80px;
}

.heading {
	max-width: 615px;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
}

.benefits {
	display: flex;
	gap: 20px;
	margin-top: 50px;
	justify-content: space-between;
}

.benefit {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 295px;
}

.benefitHeading {
	color: $primary;
	font-size: 24px;
	font-weight: 700;
}

.info {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}

@media (max-width: 768px) {
	.wrapper {
		margin: 80px 16px;
		flex-direction: column;
	}

	.heading {
		max-width: 615px;
		font-size: 25px;
	}

	.benefits {
		display: flex;
		flex-direction: column;
		gap: 38px;
		margin-top: 60px;
	}

	.benefit {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 295px;
	}

	.benefitHeading {
		color: $primary;
		font-size: 21px;
		font-weight: 700;
	}
}
