@import "@/styles/variables";

.wrapper {
    margin: 60px 20px 160px 20px;
}

.heading {
    max-width: 615px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.benefits {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: space-between;
}

.benefit {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 295px;
}

.benefitHeading {
    color: $primary;
    font-size: 24px;
    font-weight: 700;
}

.info {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}