.wrapper {
	display: flex;
	flex-direction: column;
	gap: 31px;
	width: 296px;
}

.headingWrapper {
	display: flex;
	gap: 35px;
}

.heading {
	width: 229px;
}

.arrow {
	cursor: pointer;
}

.arrowWrapper {
	width: 32px;
	height: 17px;
	margin-top: 7px;
}
