@import '@/styles/variables';

.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 22px 80px;
	margin-top: 80px;
}

.stars {
	display: flex;
	gap: 8px;
}

.heading {
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	color: $white;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 140px;
	column-gap: 20px;
}

@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		padding: 80px 16px 41px 16px;
		margin-top: 0;
	}

	.stars {
		display: none;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.heading {
		font-size: 25px;
		line-height: 32px;
		margin-bottom: 10px;
	}
}
