@import '@/styles/variables';

.wrapper {
	padding: 0px 80px 52px 80px;
}

.heading {
	font-size: 48px;
	font-weight: 700;
	span {
		color: $primary;
	}
}

.roadmap {
	display: flex;
	flex-direction: column;
}

.month {
	align-self: center;
	width: 148px;
	height: 49px;
	border-radius: 15px;
	color: $primary;
	border: 2px solid $primary;
	text-align: center;
	padding-top: 14px;
}

.infoWrapper {
	display: flex;
	align-items: center;
	margin: 20px 0;
	width: 50%;
	height: 253px;
}

.left {
	border-right: 2px solid $primary;
}

.right {
	align-self: flex-end;
	border-left: 2px solid $primary;
	.info {
		margin-left: auto;
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: 17px;
	max-width: 300px;

	.headingInfo {
		color: $primary;
		font-size: 24px;
		font-weight: 700;
	}
}

.addition {
	color: $primary;
	font-size: 48px;
	font-weight: 700;
	width: 315px;
	margin: auto;
}

.last {
	display: flex;
}

.wrapper-mobile {
	display: none;
}

@media (max-width: 768px) {
	.wrapper {
		display: none;
	}

	.wrapper-mobile {
		display: block;
		margin: 0 16px 60px 16px;
		font-size: 25px;
		font-weight: 700;

		span {
			color: $primary;
		}
	}
}
